body {
    margin: 0;
}
h1.home-title {
    font-family: "Red Hat Mono", monospace;
    color: #2D2D34;
    font-size: 2rem; 
    font-weight: bolder;
    display: flex;
    width: 25%;
    margin-left: 100px;
}
/* header {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
#intro-image {
    position: relative;
    left: 10%;
    z-index: -1;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: relative;
    top: -500px;
    left: 150px;
    /* margin-bottom: -300px; */
}
section.intro h2 {
    font-family: "Red Hat Mono", monospace;
    color: #B97375;
    font-size: 3rem;
    margin-bottom: 0;
}
section.intro h3 {
    font-family: "Red Hat Mono", monospace;
    background-color: #2D2D34;
    color: white; 
    width: fit-content;
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
section.intro p {
    font-family: "Red Hat Mono", monospace;
    width: 25%;
    padding-bottom: 1.5rem;
}
a.intro-read-more {
    text-decoration: underline;
    text-decoration-color: #B97375;
    text-decoration-thickness: 3px;
    color: rgb(59, 59, 59);
    font-weight: bold;
}
nav.intro-link ul {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    margin-left: -40%;
}
a.intro-link {
    text-decoration: none;
    padding-right: 1.5rem;
}
p {
    color: rgb(59, 59, 59)
}
#section-border {
    margin-top: -375px;
    display: flex;
    justify-content: center;
    background-color: #2D2D34;
    padding: 2rem;
}
#section-border-head {
    font-family: "Red Hat Mono", monospace;
    color: white; 
}
.project {
    display: flex;
    justify-content: space-evenly;
    background-color: #B97375;
    font-family: "Crimson Pro", serif;
    text-align: center;
} 
h3.project {
    color: #2D2D34;
    font-size: 1.75rem;
}
p.project {
    font-size: 1.2rem;
    padding-left: 5em;
    padding-right: 5rem;
}
a.project {
    /* font-family: "Red Hat Mono", monospace; */
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffd100;
    text-decoration: none;
    border: 2px solid #ffd100;
    width: 100px;
    padding: 10px;
    border-radius: 300px;
    margin-top: 1.5rem;
}
section.project article {
    padding-bottom: 2rem;
}
/* a[href="about-me.html"] {
    background-color: #b08f85;
    color: gainsboro;
    padding: 0.5rem;
}

a[href="about-me.html"]:hover {
    background-color: #a76985;
} */
/* 
.important {
    color: hsl(0, 0%, 34%);
}

a[href="https://github.com/jes-che/semantic-elements"] {
    color: rgb(59, 59, 59);
}

a[href="https://github.com/jes-che/semantic-elements"]:hover {
    background-color: #807b71;
}

a[href="#"] {
    color: rgb(59, 59, 59);  
}

a[href="#"]:hover {
    background-color: #807b71;
}

/* h3 {
    font-style: italic;
} */
/* 
a[href="index.html"] {
    background-color: #b08f85;
    color: gainsboro;
    padding: 0.5rem;    
}

a[href="index.html"]:hover {
    background-color: #a76985;
}

h1.about-me-title {
    font-size: 75px;
}

#footer {
    font-family: "Courier New";
    font-weight: bold;
} */ 