body {
    margin: 0;
}
h1.home-title {
    color: #2D2D34;
    display: flex;
    font-family: "Red Hat Mono", monospace;
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 100px;
    width: 25%;
}
#intro-image {
    left: 10%;
    position: relative;
    z-index: -1;
}
.intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 150px;
    position: relative;
    top: -500px;
    width: fit-content;
}
section.intro h2 {
    color: #B97375;
    font-family: "Red Hat Mono", monospace;
    font-size: 3rem;
    margin-bottom: 0;
}
section.intro h3 {
    background-color: #2D2D34;
    color: white;
    font-family: "Red Hat Mono", monospace;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
section.intro p {
    font-family: "Red Hat Mono", monospace;
    padding-bottom: 1.5rem;
    width: 25%;
}
#intro-about-me {
    color: rgb(59, 59, 59);
    font-weight: bold;
    text-decoration-color: #B97375;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}
nav.intro-link ul {
    display: flex;
    font-size: 1.2rem;
    list-style: none;
    margin-left: -50%;
}
a.intro-link {
    padding-right: 1.5rem;
    text-decoration: none;
}
p {
    color: rgb(59, 59, 59)
}
#section-border {
    background-color: #2D2D34;
    display: flex;
    justify-content: center;
    margin-top: -375px;
    padding: 2rem;
}
#section-border-head {
    color: white;
    font-family: "Red Hat Mono", monospace;
}
.project {
    background-color: #B97375;
    display: flex;
    font-family: "Crimson Pro", serif;
    justify-content: space-evenly;
    text-align: center;
} 
h3.project {
    color: #2D2D34;
    font-size: 1.75rem;
}
p.project {
    font-size: 1.2rem;
    padding-left: 5em;
    padding-right: 5rem;
}
a.project {
    border: 2px solid #ffd100;
    border-radius: 300px;
    color: #ffd100;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 10px;
    text-decoration: none;
    width: 100px;
}
a.project:hover {
    background-color: #ffd100;
    color: white;
}
section.project article {
    padding-bottom: 2rem;
}
footer {
    background-color: #2D2D34;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-bottom: 2rem;
    padding-left: 0;
}
a.footer {
    padding: 1.75rem;
    text-decoration: none;
}
p.footer {
    color: white;
    font-family: "Red Hat Mono", monospace;
    text-align: center;
}
#footer-about-me {
    color: white;
    text-decoration: none;
}
.about-me {
    align-items: center;
    background-color: #E2DCDE;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
#opening {
    margin-left: -40%;
    padding-left: 15px;
    padding-right: 15px;
}
section.about-me h2 {
    background-color: #2D2D34;
    color: white;
    font-family: "Red Hat Mono", monospace;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
section.about-me p {
    font-family: "Crimson Pro", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0;
    width: 40%;
}
a.back-to-home {
    border: 3px solid #B97375;
    border-radius: 300px;
    color: #B97375;
    font-family: "Crimson Pro", serif;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 5rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 125px;
}
a.back-to-home:hover {
    background-color: #B97375;
    color: white;
}